* {
  box-sizing: border-box;
}
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  /* áp  dụng cho các thẻ con */
  font-family: "Poppins", sans-serif;
}
/* ------code chung cho dự án-----------------------------  */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* kéo nhỏ trình duyệt không bị cách lề */
  max-width: calc(100% - 48px);
}
.btn {
  display: inline-block;
  color: #fff;
  padding: 0 16px;
  min-width: 118px;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  line-height: 28px; /* 175% */
  border-radius: 999px;
  background: #171100;
  line-height: 50px;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
/* -===============HEADER================ */
.header {
  background-color: #fffcf4;
}
/* viết liền nhau vì tác động đòn thời cả 2 class */
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav ul {
  display: flex;
}
.nav {
  margin-left: auto;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  /*thuộc tính thẻ a là  inline-block,vì vậy mà  không set được  width,height */
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  position: absolute;
  margin-left: 21px;
  margin-top: 6px;
}
.header .btn-sign-up {
  min-width: 144px;
  margin-left: 40px;
}
/* ==========================hero========================== */
.hero {
  /* giải thích vì sao không dùng margin : vì margin không đổ được màu nền, nên cách block header sẽ có 1 khoảng trắng */
  padding: 56px 0 65px;
  background-color: #fffcf4;
}
.hero .body {
  display: flex;
}
/* =====hero left */
.hero .media-block {
  position: relative;
  width: 48%;
}
.hero .media-block .img {
  width: 470px;
  height: 685px;
  /* tránh vỡ ảnh */
  object-fit: cover;
  border-radius: 20px;
}
.hero .hero-summary {
  position: absolute;
  width: 270px;

  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  right: 0;
  bottom: 48px;
  padding: 24px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}
.hero-summary .icon2 {
  background-color: #fcefff;
}
.hero-summary .icon3 {
  background-color: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.media-block .img {
  filter: drop-shadow(1px 1px 50px gold);
}
.info.title {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}
.info .label {
  color: #171100;

  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
/* =================hero right================= */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}
.hero .heading span {
  font-family: "Baloo Thambi 2", cursive;
  font-size: 5rem;
  text-transform: uppercase;
  animation: hunghk43 3s ease-in-out infinite;
  animation-delay: var(--delay);
}
@keyframes hunghk43 {
  0%,
  100% {
    color: var(--color);
    text-shadow: 0 0 10px #ffcc00, 0 0 50px #ffcc00, 0 0 100px #ffcc00;
  }
  10%,
  90% {
    color: #0033ff;
    text-shadow: none;
  }
}
/* .hero .heading span {
  font-family: "Baloo Thambi 2", cursive;
  font-size: 5rem;
  text-transform: uppercase;
  background: linear-gradient(45deg, #ff0000, #ff7300, #ffeb00, #47ff00, #00ffee, #2400ff, #aa00ff);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glow 3s ease-in-out infinite, gradientShift 6s linear infinite;
  animation-delay: var(--delay);
}

@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 10px #0652dd, 0 0 50px #0652dd, 0 0 100px #0652dd;
  }
  10%, 90% {
    text-shadow: none;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.hero .desc {
  color: #5f5b53;

  font-size: 1.8rem;

  line-height: 1.67;
  margin-top: 22px;
}
.hero .ctv-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.hero-ctn {
  /* width: 180px; */
  min-width: 180px;
  line-height: 64px;
  border-radius: 32px;
  background: var(--primary-color);
}
.hero .watch-video {
  display: flex;
  border: none;
  background-color: transparent;
  margin-left: 8px;
  align-items: center;
  cursor: pointer;
}

/* thẻ button là thẻ inline thì nó sẽ nằm cùng 1 hàng với thẻ a */
.hero .watch-video .icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .watch-video span {
  color: #171100;

  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  margin-left: 14px;
}
.hero .desc-recent {
  margin-top: 48px;
}
/* .hero .desc-year {
  margin-top: 8px;
}
.hero .desc-year span:nth-child(1) {
  color: #171100;
  font-size: 4.4rem;

  font-weight: 700;
  line-height: 1.23;
  margin-right: 10px;
}
.hero .desc-year span:nth-child(2) {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 30px;
  margin-right: 10px;
}
.hero .desc-year strong:nth-child(2) {
  margin-left: 28px;
} */
.hero .stats {
  margin-top: 8px;
}
.hero .stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
  margin-right: 15px;
}
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}
/* =======================popular-top===================== */
.popular {
  padding: 65px 0;

  margin-top: 135px;
}
.popular .popular-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.popular-top .controls {
  display: flex;
  gap: 18px;
}
.popular-top .desc {
  width: 458px;
  color: #5f5b53;

  font-size: 1.8rem;
  line-height: 1.67;
  margin-top: 16px;
}
.popular-top .control-btn {
  /* xóa nền: trong suốt */
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}
/* ==========================popular list=============== */
/* .popular-list {
  display: flex;
 
  justify-content: space-between;
 
  margin-top: 55px;
  gap: 30px;
}
.popular-list .list-item-stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 22px;
}
.list-item-stars .number {
  display: flex;
  align-items: center;
  gap: 6px;
}
.list-item-stars h3 {
  color: #171100;

  font-size: 1.8rem;

  font-weight: 600;
  line-height: 1.67;
}
.number .stars {
  width: 18px;
  height: 18px;
}
.number span {
  color: #fea31b;

  font-size: 1.6rem;

  line-height: 1.75;
}
.list-item p {
  width: 326px;
  color: #5f5b53;

  font-size: 1.4rem;

  line-height: 1.86;
  margin-top: 6px;
  margin-left: 22px;
}
.list-item-book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 22px;
}
.list-item-book span {
  color: #171100;
  font-size: 1.8rem;

  font-weight: 600;
  line-height: 1.67;
}
.list-item-book .btn-book {
  width: 118px;
  height: 50px;
  flex-shrink: 0;
 
  border: none;
  background: #ffb900;
}
.btn-book2 {
  background-color: #171100;
} */
/*-----------------------------------------------------
 -------------------------------------------------------
 -----------------------------------------------------*/
/* ==========================popular list=============== */
.popular-list {
  display: flex;
  margin-top: 55px;
  /* justify-content: space-between; */
  gap: 30px;
}
.popular .popular-item .pupular-img {
  width: 100%;

  object-fit: cover;
  height: 278px;
}
.popular-item {
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
}
.popular-item:hover {
  border: 1px solid transparent;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular-item .pupular-img {
  border-radius: 12px 12px 50px 0px;
}
.popular-item .pupular-head {
  padding: 16px 22px 22px;
}
.pupular-head .popular-item1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-item1 .title {
  color: #171100;

  font-size: 1.8rem;

  font-weight: 600;
  line-height: 1.67;
}
.popular-item1 .pupular-star {
  width: 18px;
  height: 18px;
}
.popular-item1 span {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.65;
  margin-left: 6px;
}
.pupular-star {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pupular-head .popular-desc {
  width: 326px;
  color: #5f5b53;

  font-size: 1.4rem;

  font-weight: 400;
  line-height: 1.86;
  margin-top: 6px;
}
.popular-item .popular-footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 12px;
}
.popular-footer span {
  color: #171100;

  font-size: 1.8rem;

  font-weight: 600;
  line-height: 1.67;
}
.popular-footer .btn-item {
  width: 118px;
  height: 50px;
  border-radius: 25px;

  border: none;
}
.popular-footer .btn-item:hover {
  background-color: #ffb900;
  /* box-shadow: 5px 5px 20px red; */
}
